# Directorio de Maven
target/

# Archivos de configuración del sistema
**/.classpath
**/.project
**/.settings/

# Dependencias de librerías que se copian localmente
lib/

# Archivos de logs
*.log

# Archivos de compilación y configuración específicos de IDEs
.idea/
*.iml
*.iws
*.swp

# Configuraciones y caches de IntelliJ IDEA
*.idea/
*.ipr
*.iws
.idea/

# Configuración de VSCode
.vscode/

# Archivos de configuración de sistema de operación
.DS_Store

# Archivos de Maven
mvnw
mvnw.cmd

# Archivos de propiedades de Maven y logs de ejecución
*.properties
*.bat
*.cmd

# Archivos generados de cobertura
**/jacoco.exec
**/jacoco/jacoco*.exec

# Archivos de configuración de Eclipse
.settings/
.classpath
.project


#ASTRO 
# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

gh_pages
